.table {
	width: 100%;
	border: 2px solid $grey;
	.table-head {
	  background-color: $light-grey;
	  .table-headCell {
		text-align: center;
		vertical-align: middle;
		font-size: 18px;
		font-weight: 700;
		border-bottom: 1px solid $grey;
		border-right: 1px solid $grey;
	  }
	}
	.table-bodyrow {
	  border-bottom: 1px solid $grey;
	  .table-bodycell {
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
		border-right: 1px solid $grey;
		padding: 5px 0px;
		.linkcell {
			&:hover,
			&:active,
			&:focus {
			  border-bottom: 1px solid black;
			}
		  }
	  }
	}
  }

  