.question-info {
  margin: 5% 10%;
  padding: 3% 3%;
  .avatar {
    font-size: 15px;
    background-color: deepskyblue;
  }
  .code-text {
    height: 200px;
    margin: 0% 0%;
  }
  .comment{
    display: flex;
    justify-content: center;
  }
}
