.problem-input-container{
    padding: 1% 1%;
    width: 50%;
    .problem-input-text{
        margin-bottom: 1%;
    }
    .problem-input-btn{
        margin-left: auto;
        margin-right: 2%;
    }
}