.problem-input-container{
    padding: 1% 1%;
    width: 50%;
    .problem-code-input{
        margin-bottom: 1%;
        border: 1px solid rgb(245, 243, 243);
        border-bottom: 1px solid rgb(211, 209, 209);
    }
    .problem-input-btn{
        margin-left: auto;
        margin-right: 2%;
    }
}